@import "settings";
@import "mixins";
@import "typography";
@import "components";

*, *::before, *::after {
	box-sizing: inherit;
}

:root {
	background: black;
	box-sizing: border-box;
}

body {
	margin: 0;
	text-align: center;
}

.container {
	padding: 30px;
}

#main-display {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

canvas {
	border: 1px solid rgba(white, .5);
}
